/* fonts */
@font-face {
    font-family: "Montserrat-Medium";
    src: url(../../fonts/Montserrat-Medium.ttf);
}

/* settings */
* {
    margin: 0;
    padding: 0;
    font-family: Montserrat-Medium;
    font-size: clamp(12px, 2vw, 20px);
    color: var(--font-color);
}

:root {
    --bg-color: #161616;
    --bg-color-light: #4d4d4d;
    --font-color: #f3f3f3;
}

html {
    background: var(--bg-color);
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* design */
.buttonMenu {
    background: #ffffff00;
    padding: 0.5%;
    border: 2px solid var(--bg-color-light);
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 1%;
    transition: .15s;
}

.buttonMenu:hover{
    background: var(--bg-color-light);
    transition: .15s;
}

.headerMenu {
    position: fixed;
    top: 500px;
    display: flex;
    flex-direction: column;
    width: 12%;
    min-width: 250px;
    border: 2px solid var(--bg-color-light);
    border-radius: 7px;
    z-index: 999;
    transition: .1s;
}

.headerMenu .headerMenuContent {
    display: flex;
    flex-direction: column;
}

.headerMenu .headerMenuContent button{
    padding: 5% 0;
    background: #ffffff00;
    border: none;
    cursor: pointer;
    transition: .15s;
}

.headerMenu .headerMenuContent button:last-child{
    border-top: 2px solid var(--bg-color-light);
}

.headerMenu .headerMenuContent button:hover{
    background: var(--bg-color-light);
    transition: .15s;
}

.headerMenu .headerMenuButton {
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--bg-color-light);
}

.headerMenu .headerMenuButton button {
    width: 50%;
    padding: 5% 0;
    background: #ffffff00;
    border: none;
    cursor: pointer;
    transition: .15s;
}

.headerMenu .headerMenuButton button:hover {
    background: var(--bg-color-light);
    transition: .15s;
}

.headerMenu .headerMenuButton .headerMenuButtonLanguage {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.headerMenu .headerMenuButton .headerMenuButtonTheme{
    width: 100%;
    border-top: 2px solid var(--bg-color-light);
    display: flex;
    flex-direction: row;
}

.headerActiveButton{
    background-color: var(--bg-color-light) !important;
}

.close {
    opacity: 0;
    transition: .1s;
}